@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    margin: 0;


    background-color: #FFFDF5;
    font-family: 'Poppins', sans-serif;
}

/* Navigatiebar */

nav {
    position:sticky;
    top: 0;
    z-index: 100;
    /* sticky nav bar die altijd boven andere elementen zit*/

    display: flex;
    flex-direction: column;

    border-top: 1rem;
    border-bottom: 1.5rem;
    border-left: 1rem;
    border-right: 1rem;
    border-style: solid;
    border-color: #E79796;
    background-color: #E79796;


}
nav a{
    text-decoration:none;
    color: black;
}
.navText{
    text-decoration:none;
    color: black;
    background-color: #FFC98B;
    border-top: 0.8rem solid #FFC98B;
    border-left: 2.5rem solid #FFC98B;
    border-bottom: 0.8rem solid #FFC98B;
    border-right: 2.5rem solid #FFC98B;
    border-radius: 0.5rem;



}

.navText:hover{

    background-color: #FFB284;
    border-top: 0.8rem solid #FFB284;
    border-left: 2.5rem solid #FFB284;
    border-bottom: 0.8rem solid #FFB284;
    border-right: 2.5rem solid #FFB284;
}

/* Nav alignment */
.naastElkaar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
}
.naastElkaar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserveerDatum{
    background-color: #FFB284;
    border-top: 1rem solid #FFB284;
    border-left: 3.5rem solid #FFB284;
    border-bottom: 1rem solid #FFB284;
    border-right: 3.5rem solid #FFB284;
    border-radius: 0.5rem;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2rem;
}











:root {
    --primary-color: #e5a4b1;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #fff;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
}
.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}
.calendar .header .btns {
    display: flex;
    gap: 10px;
}
.calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}
.calendar .header .btns .btn:hover {
    background-color: #db0933;
    transform: scale(1.05);
}
.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fff;
    transition: all 0.3s;
}
.days .day:not(.next):not(.prev):hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.05);
}
.days .day.today {
    color: #fff;
    background-color: var(--primary-color);
}
.days .day.next,
.days .day.prev {
    color: #ccc;
}



/* footer  */
.naastElkaarFooter{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
footer p{
    margin-top: 1.5rem;
}
footer{
    background-color: #C6C09C;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDBxOHN1aTN6cG0yZ3A3OXdieWkyaHptNHVkZjFyd3I1dGpmN2x4cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/RfA606geeWaWP5eyD8/giphy.gif);
    object-fit:cover;

    background-position-x:50%;
    background-position-y: 30%;
    background-size: 12%;
    position: relative;
    background-repeat: no-repeat;
    overflow:hidden;
    max-height: 10rem;
}


/* Alle afbeeldingen */
.logo{
    max-width: 6rem;
}
.afbeelding{
    min-width: 20vw;
    max-height: 20vw;
    object-fit:cover;
}
.kleineAfbeelding{
    min-width: 6vw;
    max-height: 6vw;
    object-fit:cover;
}
.reserveringsicoon{
    min-width: 1.3rem;
    max-height: 1.3rem;
    margin-right: 1rem;
}
.Afbeelding-reserveringsicoonGeel{
    min-width: 10vw;
    max-height: 10vw;
    object-fit:cover;
}


